:root {
  --primary : #284B63;
  --secondary: #f3f4f6;
  --grayBg: #d9d9d9;
  --error: #E85963;
  --errorBg: #E8596333;
  --success: #388E3C;
  --successBg: #388E3C33;
  --warning: #FFB800;
  --warningBg: #FFB80033;
  --white: #fff
}

body {
  background-color: var(--secondary);
  color: var(--primary);
}

.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

.gray-color {
  color: var(--grayBg);
}

.error-color {
  color: var(--error);
}

.error-box, .p-toast-error {
  background-color: var(--errorBg);
  color: var(--error);
  border-radius: 8px;
}

.success-color {
  color: var(--success);
}

.success-box, .p-toast-success {
  display: flex;
  align-items: center;
  background-color: var(--successBg);
  color: var(--success);
  border-radius: 8px;
}

.warning-color {
  color: var(--warning);
}

.warning-box {
  display: flex;
  align-items: center;
  background-color: var(--warningBg);
  color: var(--warning);
  border-radius: 8px;
}

.primary-bg {
  background-color: var(--primary);
  color: var(--secondary);
}

.primary-btn {
  color: var(--secondary) !important;
  background-color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
  border-radius: 8px !important;
  font-weight: bold;
  cursor: pointer;
}

.primary-btn:hover {
  color: var(--primary) !important;
  background-color: transparent !important;
  border: 2px solid var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
  color: var(--primary);
}

.secondary-btn {
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 8px;
  font-weight: bold;
}

.secondary-btn:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

.custom-table .p-datatable-thead > tr > th {
  background-color: var(--primary);
  color: var(--secondary);
}

.custom-table .p-datatable-tbody > tr > td {
  color: var(--primary);
}

.custom-table .p-datatable-sort-icon, .custom-table .p-button-text.p-button-secondary {
  color: var(--secondary) !important;
}

.custom-table .p-datatable-sortable-column:not(.p-highlight):hover {
  background-color: var(--primary) !important;
  color: var(--secondary);
}

.custom-table .p-select-label {
  color: var(--primary) !important;
}

.custom-table .p-paginator-page.p-paginator-page-selected, .p-select-option.p-select-option-selected, .custom-table .p-button-text.p-button-secondary:not(:disabled):hover {
    background: var(--primary) !important;
    color: var(--secondary) !important;
}

.custom-table .p-select:not(.p-disabled).p-focus, .p-select:not(.p-disabled).p-focus, .p-inputtext:enabled:focus {
  border-color: var(--primary)!important ;
}

.p-button {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  border-color: var(--primary) !important;
}

.p-button:not(:disabled):hover {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

.p-button-outlined {
  background-color: var(--secondary) !important;
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.p-button-outlined:not(:disabled):hover {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.p-datepicker-day-selected {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.p-datatable-header {
  padding: 1rem 0rem !important;
}

.icon-btn,
.avatar-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background: var(--secondary);
  color: inherit;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color .15s ease;
}

.icon-btn:hover,
.avatar-btn:hover {
  background-color: var(--grayBg);
}

.custom-table .p-datatable-tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-link {
  color: var(--secondary);
  text-decoration: none;
  transition: text-decoration 0.5s ease;
}

.footer-link:hover {
  text-decoration: underline;
}

.form-control {
  border: 2px solid var(--grayBg);
  color: var(--primary);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.input-group-text {
  border: 2px solid var(--grayBg);
}

.form-control:focus, .input-group-text.focused {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 75, 99, 0.25) !important;
  outline: none;
}

.showPassword-btn {
  position: absolute;
  top: 5%;
  right: 0%;
  color: var(--primary);
}

.showPassword-btn.invalid {
  color: var(--error);
}

.form-control.invalid {
  border-color: var(--error);
}

.card {
  box-shadow: 0 4px 12px rgba(202, 210, 197, 0.6);
  border-radius: 8px;
  border: none;
}

.card-header {
  background-color: var(--primary);
  color: var(--secondary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nav-link {
    margin: 0px 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-link:hover {
    border-bottom: 2px solid var(--primary);
}

.nav-link.active {
    border-bottom: 2px solid var(--primary);
}

.input-group-text {
  background-color: var(--grayBg);
}

.input-group-text.invalid {
  background-color: var(--errorBg);
  border: 2px solid var(--error);
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
  color: var(--primary);
}

.primary-btn-dark-bg {
  color: var(--primary);
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.primary-btn-dark-bg:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: 2px solid var(--secondary);
}

.dropdown-menu-custom {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 200px;
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background: var(--secondary);
}